.boxed {
border: 1px solid green ;
width:200px;
height: 250px;
margin-left: 40px;
float: left;
margin-right: 4%;
margin-top: 3%;
position: relative;

}
img{
  width: 197px;
  height: 247px;
  display: block;
}



h1{
  margin-top: 7%;
  text-align: center;
}

form {

position: absolute;


		/* margin-left: 5%; */
		width: 30%;
		height: 30%;
		margin-top: -30px;



}


input[type=text] {
    width: 54%;
    padding: 12px 20px;
    margin: 14px 0;
    display: inline-block;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
		  position: center;
  margin-left: 37px;
    font-size: 80%;


}

input[type=email]{
	width: 54%;
	padding: 12px 20px;
	margin: 14px 0;
	display: inline-block;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
		position: center;
margin-left: 10px;
	font-size: 80%;


}

	input[type=password]{
	width: 54%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
		position: center;
margin-left: 47px;
	font-size: 80%;


}
.container {
	margin-top: 80px;
    padding: 12px;
		width: 100%;


}


.error_message {
	color: #AA2020;
	font-size: 120%;
	border: 2px;
}

h2 {
	text-align: center;
	font-size:200%;
	margin-top: 80px;
	color: white;
}

.btn {
    background-color: #778899;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 24%;
    margin-left: 140px;
    font-size:80%;
		margin-left: 187px;
}

label{
	color:white;
	font-size: 17px;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.boxed:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
