<!DOCTYPE html>
<html>
<head>
	<title>Life Line</title>
	<link rel="stylesheet" href="https://headervideo.github.io/hvheadervideo/css/fontawesome.min.css">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="https://headervideo.github.io/hvheadervideo/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://headervideo.github.io/hvheadervideo/css/mdb.min.css" rel="stylesheet">
	<link href="https://headervideo.github.io/hvheadervideo/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>

	<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	    <a class="navbar-brand" href="home.html">Life Line</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	    <div class="collapse navbar-collapse " id="navbarSupportedContent">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	                <a class="nav-link" href="/index.hbs">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item active">
	                <a class="nav-link" href="#">About <span class="sr-only"></span></a>
	            </li>
	            <li class="nav-item active">
	                <a class="nav-link" href="#">Discussion <span class="sr-only"></span></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="http://www.facebook.com"><i class="fa fa-facebook-f"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="http://tumblr.com"><i class="fa fa-tumblr"></i></a>
	            </li>
	        </ul>
	         <ul class="navbar-nav ml-auto nav-flex-icons">
	            <li class="nav-item">
	                <a class="nav-link waves-effect waves-light">14 <i class="fa fa-envelope"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link waves-effect waves-light">8 <i class="fa fa-eye"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link waves-effect waves-light">1 <i class="fa fa-bullhorn"></i></a>
	            </li>
	            </li>
	        </ul>
	    </div>
	</nav>
	</header>

	<div id="main">

		<div class="container">
			<subreddit name="books"></subreddit>
			<subreddit name="suggestmeabook"></subreddit>
			<subreddit name="booksuggestions"></subreddit>
			<subreddit name="bookhaul"></subreddit>
			<subreddit name="52book"></subreddit>
			<subreddit name="bookclub"></subreddit>
			<subreddit name="sports"></subreddit>
			<subreddit name="medicine"></subreddit>
			<subreddit name="science"></subreddit>
			<subreddit name="travel"></subreddit>
			<subreddit name="gaming"></subreddit>
			<subreddit name="worldnews"></subreddit>

		</div>

	</div>

	<template id="subreddit">

		<div class="subreddit">
			<h2>{{ name | uppercase }}</h2>

			<ul class="item-list">
				<li v-for="obj in posts">
					<post :item="obj"></post>
				</li>
			</ul>
		</div>

	</template>


	<template id="post">

		<div class="post">
			<a :href="item.data.url" :style="getImageBackgroundCSS(item.data.thumbnail)" target="_blank" class="thumbnail"></a>

			<div class="details">

				<a :href="item.data.url" :title="item.data.title" target="_blank" class="title">
					{{ item.data.title | truncate}}
				</a>

				<div class="action-buttons">
					<a :href="'http://reddit.com' + item.data.permalink " title="Vote">
						<i class="material-icons">thumbs_up_down</i>
						{{item.data.score}}
					</a>

					<a :href="'http://reddit.com' + item.data.permalink " title="Go to discussion">
						<i class="material-icons">forum</i>
						{{item.data.num_comments}}
					</a>
				</div>

			</div>
		</div>

	</template>


	<script src="assets/js/vue.js"></script>
	<script src="assets/js/vue-resource.min.js"></script>
	<script src="assets/js/script.js"></script>

	<!-- Demo ads. Please ignore and remove. -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>
</body>
</html>
