<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Life Line</title>
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <link rel="stylesheet" href="https://headervideo.github.io/hvheadervideo/css/fontawesome.min.css">
    <link href="https://headervideo.github.io/hvheadervideo/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://headervideo.github.io/hvheadervideo/css/mdb.min.css" rel="stylesheet">
    <link href="https://headervideo.github.io/hvheadervideo/css/style.css" rel="stylesheet">
</head>
<body onload="init();">
 <!--Main Navigation-->
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="home.html">Life Line</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index.hbs">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-pinterest"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-tumblr"></i></a>
            </li>
        </ul>
         <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">14 <i class="fa fa-envelope"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">8 <i class="fa fa-eye"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">1 <i class="fa fa-bullhorn"></i></a>
            </li>
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="http://www.torneodj.com/files/avatar/2_120.jpg" class="img-fluid rounded-circle z-depth-0" width="30"></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
                    <a class="dropdown-item whov" href="#"><i class="fa fa-plus"></i> Agregar post</a>
                    <a class="dropdown-item whov" href="#"><i class="fa fa-edit"></i> Editar cuenta</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</header>
    <div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <div class="text-center text-danger">
                                <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Life Line</h1>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s"></b></h5>
                                <a class="btn btn-danger btn-lg wow fadeInDown" data-wow-delay="0.4s" href="/signup" ><i class="fa fa-diamond"></i> Sign-up</a>
                                <a class="btn btn-primary btn-lg wow fadeInDown" data-wow-delay="0.4s" href="/signin" ><i class="fa fa-shield"></i> Log-in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="py-2"></div>
<canvas id="demoCanvas" width="500" height="300"></canvas>

<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 px-2">
        <a data-pin-do="embedUser" data-pin-lang="es" data-pin-scale-height="240" data-pin-scale-width="80" href="https://ar.pinterest.com/drussiladelong/poet-be-the-poem/"></a>
        <script async defer data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
        <hr>
        <h5 class="card-header">En instagram @poems</h5>
        <div style="position: relative; height: 16px; width: 100%; overflow: hidden; padding-top:133.33333333333331%;">
          <iframe src="//widgets-code.websta.me/w/8b4d0c2155f9?ck=MjAxOC0wMS0xMFQwMzowOTozOS4wMDBa" class="websta-widgets" allowtransparency="true" frameborder="0" scrolling="no" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe><!-- WEBSTA WIDGETS - widgets.websta.me -->
        <!-- </div>
    </div>
</div>
 -->



<hr>
<footer class="bg-dark text-white">
    <div class="text-center py-2 lead">Copyright © 2018 - Beatriz, Brad, Danny, Ryan </a></p></div>
</footer>
    <script type="text/javascript" src="https://headervideo.github.io/hvheadervideo/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://headervideo.github.io/hvheadervideo/js/popper.min.js"></script>
    <script src="https://headervideo.github.io/hvheadervideo/js/bootstrap.min.js"></script>
    <script src="https://headervideo.github.io/hvheadervideo/js/mdb.min.js"></script>
    <script src="https://headervideo.github.io/hvheadervideo/js/jarallax.js"></script>
    <script src="https://headervideo.github.io/hvheadervideo/js/jarallax-video.js"></script>
   <script>
       new WOW().init();
   </script>
   <script>

    function init() {

        var stage = new createjs.Stage("demoCanvas");
        var text = new createjs.Text("Life Line!", "20px Arial", "#ff7700");
        text.x = 250;
        text.y = 150;
        text.textBaseline = "alphabetic";
        stage.addChild(text);
        stage.update();

    }
    
   </script>
</body>
</html>
