<!DOCTYPE html>

<html>

<head>

	<title> Sign-in </title>

			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>Life Line</title>
			<link rel="stylesheet" href="https://headervideo.github.io/hvheadervideo/css/fontawesome.min.css">
			<link href="https://headervideo.github.io/hvheadervideo/css/bootstrap.min.css" rel="stylesheet">
			<link href="https://headervideo.github.io/hvheadervideo/css/mdb.min.css" rel="stylesheet">
			<link href="https://headervideo.github.io/hvheadervideo/css/style.css" rel="stylesheet">



	<style>

	video {
		object-fit: cover;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0.10;

	}

form {

			position: absolute;
			margin-left: 30%;
			width: 40%;
			height: 30%;
			text-align: center;


}

input[type=text] {
    width: 54%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: center;
    font-size: 80%;
		margin-left: 40px;
	}

input[type=password] {
		    width: 54%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    box-sizing: border-box;
		    position: center;
		    font-size: 80%;
				margin-left: 27px;


}
.container {
	margin-top: 80px;
		padding: 12px;
		width: 100%;
}

.error_message {
	color: #AA2020;
	font-size: 120%;
	border: 2px;
}

h2 {
	text-align: center;
	font-size:200%;
	margin-top: 80px;
	color: black;
}

.btn {
    background-color: #778899;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 24%;
    margin-left: 70px;
    font-size:80%;
}

</style>

</head>

<body>

	<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	    <a class="navbar-brand" href="home.html">Life Line</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	    <div class="collapse navbar-collapse " id="navbarSupportedContent">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item active">
	                <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#"><i class="fa fa-facebook-f"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#"><i class="fa fa-pinterest"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#"><i class="fa fa-tumblr"></i></a>
	            </li>
	        </ul>
	         <ul class="navbar-nav ml-auto nav-flex-icons">
	            <li class="nav-item">
	                <a class="nav-link waves-effect waves-light">14 <i class="fa fa-envelope"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link waves-effect waves-light">8 <i class="fa fa-eye"></i></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link waves-effect waves-light">1 <i class="fa fa-bullhorn"></i></a>
	            </li>
	        </ul>
	    </div>
	</nav>
	</header>

	<div class="header-unit " >
	    <div id="video-container">
	        <video autoplay loop class="fillWidth" >
							<source src="./public/raininglettersBW.mp4" type="video/mp4"/>
				</video>

			</div>
	</div>


	<form id="signin" name="signin" method="post" action="authenticate_email">
		<div class="container">
			<div class="text-center">
					<h2 class="-text"><i class="fa fa-user white-text"></i> Sign-in</h2>
							<hr class="hr-light">
			</div>
		<label for="email"><i class="fa fa-envelope "></i> E-mail: </label>
		<input class="text" name="email" type="text" />
		<br>
		<label for="password"><i class="fa fa-lock "></i> Password: </label>
		<input class="password" type="password" name="password" />
		<br>
		</div>
		<input class="btn" type="submit" value="Sign In" />
	</form>

	<div class="error_message"> {{message}} </div>

</body>

</html>
