<!DOCTYPE html>
<html>

<head>
	<title> Sign-up </title>

		<style>

/*body {
		background-image: url("/assets/image/carrots-min.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 270%;
}*/


form {


    position: center;


}

input[type=text], input[type=password], input[type=email] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: center;
    font-size: 50%;


}
.container {
    padding: 16px;
}


.error_message {
	color: #AA2020;
	font-size: 120%;
	border: 2px;
}


.btn {
    background-color: #FFA500;
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    width: 24%;
    margin-left: 140px;
    font-size:80%;
}
</style>

</head>

<body>

	<form id="signup" name="signup" method="post" action="/signup">
		<div class="container">
		<label for="email"> Email Address:</label>
		<input class="text" name="email" type="email" />
		<br>
		<label for="firstname"> First Name:&nbsp &nbsp &nbsp</label>
		<input name="firstname" type="text" />
		<br>
		<label for="lastname"> Last Name:&nbsp &nbsp &nbsp </label>
		<input name="lastname" type="text" />
		<br>
		<label for="password"> Password: &nbsp &nbsp &nbsp &nbsp </label>
		<input name="password" type="password" />
		</div>
		<br>
		<input class="btn" type="submit" value="Sign Up" />
	</form>

	<div class="error_message"> {{message}} </div>

</body>


</html>
