<!DOCTYPE html>
<html>

<head>
<title>Timer</title>
<!-- boostrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ewert|Barrio|Orbitron" rel="stylesheet">
</head>
<body> 
<div id = "container">
  <div class= "row">
    
    <div class= "col-md-4">
    	</div>
    <div class= "col-md-4">
        <div id= "header">
        <h1>Timer</h1>
			</div>
	<div class= "col-md-4">
		</div>
        </div>
     </div> 
  
  <div class= "row">
    <div class= "col-md-4">
    	<div id= "time">
    		<h2>Minutes</h2>
    	</div>
    	<div id= "minutes">
    		<br></br>
    		<br></br>
    		<br></br>
    	</div>
    	</div>
    
    <div class= "col-md-4">
    	<button type="button" id="start">Start</button>
    	<!-- <button type="button" id="pause">Pause</button>
    	<button type="button" id="stop">Stop</button> -->
    </div>

	
  <div class= "col-md-4">
	<div id= "time">
		<h2>Seconds</h2>
	</div>
		<div id= "seconds">
			<br></br>
    		<br></br>
    		<br></br>
		</div>
		</div>
    </div>
 


 </div> 
    


<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript" src="countdown.js"></script>
</body>
</html>